.loaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(117, 254, 114, 0.5);
    z-index: 1200;
    display: flex
}

.loaderBody {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 37px 0 0 -25px;
    width: 150px;
    height: 150px;
}

.loaderBody:after {
    content: "";
    background-image: url(../../assets/spiner.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    margin: -6px;
    width: inherit;
    height: inherit;
    animation: nfLoader-spin 1.1s linear infinite, 1;
    -webkit-animation: nfLoader-spin 1.1s linear infinite, 1;
}

@keyframes nfLoader-spin {
    100% {
        transform: rotate(360deg);
    }
}
